:root {
	--tab-active: #1e0f14;
	--tab: #170b10;
	--tab-border: #252526;
	--background: #1e0f14;
	--topNav: #170b10;
	--sideNav: #120810;
	--text-hover: #b87890;
	--text-active: #f0d0dc;
	--text: #f0d0dc;
	--icon: #6b5862;
	--icon-hover: #f0d0dc;
	--border: #835766;
	--explorer-bg: #170b10;
	--button: #7a1530;
	--button-hover: #b87890;
}

::-webkit-scrollbar {
	display: none;
}
#opener {
	font-family: monospace;
	color: var(--text);
}
.TUIBody {
	background-color: var(--background);
	color: var(--text);
	font-family: monospace;
}

.inputFieldText {
	color: var(--text);
}
#CmdInput {
	border: none;
	background: none;
	color: var(--text);
	outline: none;
	font-family: monospace;
	margin-left: 5;
	position: absolute;
	width: 94%;
}
#CmdOutputField {
	white-space: pre;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background);
	color: var(--text);
}
.highlight {
	color: var(--button);
}

a {
	color: white;
}
.SideNav {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	background-color: var(--sideNav);
	border-right: 1px solid var(--border);
	padding-right: 10px;
	padding-left: 10px;
	align-items: flex-start;
	flex-direction: column;
	width: max-content;
	gap: 13px;
	height: 100%;
	z-index: 10;
}
.SideNav button {
	background-color: var(--sideNav);
	width: 30px;
	padding: 1px;
	flex-direction: column;
	border-style: none;
}
.icon {
	fill: var(--icon);
	transition: fill 0.2s ease-in-out;
}
.hover {
	fill: var(--icon-hover);
}
.NavItem {
	position: relative;
	display: inline-block;
}
.NavItem .ToolTip {
	visibility: hidden;
	width: max-content;
	background-color: var(--background);
	color: var(--text);
	text-align: left;
	border-radius: 6px;
	border: 1px solid var(--border);
	padding: 10px 0;
	position: absolute;
	z-index: 1;
	bottom: 1%;
	left: 130%;
	margin-bottom: 1;
	opacity: 0;
	transition: opacity 0.3s;
}
.NavItem .ToolTip::before {
	content: "";
	position: absolute;
	right: 100%;
	top: 40%;
	border-width: 7px 7px 7px 0;
	border-style: solid;
	border-color: transparent var(--border) transparent transparent;
	z-index: -1;
}
.NavItem .ToolTip::after {
	content: "";
	position: absolute;
	right: 99%;
	top: 40%;

	border-width: 6px 6px 6px 0;
	border-style: solid;
	border-color: transparent var(--background) transparent transparent;
}
.NavItem:hover .ToolTip {
	visibility: visible;
	opacity: 1;
}

.topNav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 5px;
	margin-left: 50px;
	background-color: var(--topNav);
	border-bottom: 1px solid var(--border);
	align-items: center;
	justify-content: center;
	z-index: 5;
}
.tab {
	color: var(--text);
	z-index: 5;
}
#body {
	margin-left: 50px;
	margin-top: 20px;

	width: calc(100vw - 50px);
	height: calc(100vh - 20px);

	background-color: var(--background);

	
	position: relative;
	z-index: 0;

	overflow-x: hidden;
	box-sizing: border-box;
}
.sideBar {
	display: none;
	position: fixed;
	padding: 5px 10px 0px 10px;
	width: 20%;
	max-width: 130px;
	min-width: 100px;
	height: calc(100%);
	background-color: var(--explorer-bg);
	border: 1px solid var(--border);
	float: left;
	z-index: 10;
}
.fileList {
	display: flex;
	flex-direction: column;
	gap: 2px;
	flex-wrap: nowrap;
}
.fileName {
	color: var(--text);
	font-size: 16px;
	cursor: pointer;
}
.filePage {
	color: var(--text);
	position: relative;
	padding-top: 20px;
	z-index: 1;

	height: 100%;
}
.fileTitle {
	color: var(--text);
}

.projectsGrid {
	margin-left: 30px;
	margin-top: 20px;
	display: grid;
	gap: 20px;
	width: 95%;
	overflow: visible;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

}

.projectsDisplay {
	display: none;
	width: 95%;
	height: 80vh;
	border: none;
}
	
.gridItem {
	border: 1px solid var(--border);
	border-radius: 5px;
	aspect-ratio: 1 / 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	cursor: pointer;
}
#githubSideBar p {
	color: var(--text);
	font-family: Arial, Helvetica, sans-serif;
}
#githubSideBar a {
	color: white;
}
#githubSideBar button {
	color: var(--text);
	background: var(--button);
	border-color: var(--button);
	border-style: none;
	border-radius: 5px;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 10px;
	cursor: pointer;
}
#githubSideBar button:hover {
	background: var(--button-hover);
}
#socialsSideBar {
	min-width: max-content;
}