:root {
	--tab-active: #1e0f14;
	--tab: #170b10;
	--tab-border: #252526;
	--background: #1e0f14;
	--topNav: #170b10;
	--sideNav: #120810;
	--text-hover: #b87890;
	--text-active: #f0d0dc;
	--text: #f0d0dc;
	--icon: #6b5862;
	--icon-hover: #f0d0dc;
	--border: #835766;
	--explorer-bg: #170b10;
	--button: #7a1530;
	--button-hover: #b87890;
	--fontSize: 15px;
}

::-webkit-scrollbar {
	display: none;
}
#opener {
	font-family: monospace;
	color: var(--text);
}
.TUIBody {
	width: 100vw;
	height: 100vh;
	background-color: var(--background);
	color: var(--text);
	font-family: monospace;
	background-image: url('logo.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 50%;
	background-size: 500px;
	;
}

.inputFieldText {
	color: var(--text);
}
#CmdInput {
	border: none;
	background: none;
	color: var(--text);
	outline: none;
	font-family: monospace;
	margin-left: 5;
	position: absolute;
	width: 94%;
	z-index: 5;
}
#CmdOutputField {
	white-space: pre;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background);
	color: var(--text);
	font-family: monospace;
}
.highlight {
	color: var(--button);
}

a {
	color: white;
}
.bottomText {
	text-align: center;
	position: relative;
}
.bottomTitle {
	color: var(--text);
	position: relative;
	z-index: 2;
}
#openAbout {
	background: none;
	border: none;
	color: white;
	text-decoration: underline;
}
.SideNav {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	background-color: var(--sideNav);
	border-right: 1px solid var(--border);
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 25px;
	align-items: flex-start;
	flex-direction: column;
	width: max-content;
	gap: 13px;
	height: 100%;
	z-index: 10;
}
.SideNav button {
	background-color: var(--sideNav);
	width: 30px;
	padding: 1px;
	flex-direction: column;
	border-style: none;
}
.icon {
	fill: var(--icon);
	transition: fill 0.2s ease-in-out;
}
.hover {
	fill: var(--icon-hover);
}
.NavItem {
	position: relative;
	display: inline-block;
}
.NavItem .ToolTip {
	visibility: hidden;
	width: max-content;
	background-color: var(--background);
	color: var(--text);
	text-align: left;
	border-radius: 6px;
	border: 2px solid var(--border);
	padding: 10px 0;
	position: absolute;
	z-index: 1;
	bottom: 1%;
	left: 130%;
	margin-bottom: 1;
	opacity: 0;
	transition: opacity 0.3s;
}

.NavItem:hover .ToolTip {
	visibility: visible;
	opacity: 1;
}

.topNav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 5px;
	margin-left: 50px;
	background-color: var(--topNav);
	border-bottom: 1px solid var(--border);
	align-items: center;
	justify-content: center;
	z-index: 5;
}
.tab {
	color: var(--text);
	z-index: 5;
}
#body {
	margin-left: 50px;
	margin-top: 20px;

	width: calc(100vw - 50px);
	height: calc(100vh - 20px);

	background-color: var(--background);

	position: relative;
	z-index: 0;

	overflow-x: hidden;
	box-sizing: border-box;
}
.sideBar {
	display: none;
	position: fixed;
	padding: 5px 10px 0px 10px;
	width: 20%;
	max-width: 130px;
	min-width: 100px;
	height: calc(100%);
	background-color: var(--explorer-bg);
	border: 1px solid var(--border);
	float: left;
	z-index: 10;
}
.fileList {
	display: flex;
	flex-direction: column;
	gap: 2px;
	flex-wrap: nowrap;
}
.fileName {
	color: var(--text);
	cursor: pointer;
}
.filePage {
	color: var(--text);
	position: relative;
	padding-top: 20px;
	z-index: 1;

	height: 100%;
}
.fileTitle {
	color: var(--text);
}

.projectsTable {
	margin-left: 30px;
	margin-top: 20px;
	display: table;
	width: 75%;
	border: 3px solid;
	border-color: var(--border);
}
.pageDisplay {
	display: none;
	width: 100%;
	height: 100%;
}
.fileImg {
	width: 100%;
}
.tableItem {
	border: 1px solid var(--border);
	border-radius: 5px;
	display: table-cell;
	cursor: pointer;
	width: 25%;
}
#githubSideBar p {
	color: var(--text);
	font-family: monospace;
}
#githubSideBar a {
	color: white;
}
#githubSideBar button {
	color: var(--text);
	background: var(--button);
	border-color: var(--button);
	border-style: none;
	border-radius: 5px;
	width: 100%;
	padding-bottom: 5%;
	padding-top: 5%;
	margin-top: 10px;
	cursor: pointer;
}
#githubSideBar button:hover {
	background: var(--button-hover);
}
#socialsSideBar {
	min-width: max-content;
}
.title {
	font-family: monospace;
	color: var(--text);
	font-size: 35px;
}
.text {
	font-size: var(--fontSize) ;
	font-family: monospace;
}
@media (max-width: 600px) {
	.TUIBody {
		font-size: 30px;
		background-size: 1000px;
		background-position-y: 25vh;
	}

	#CmdInput {
		font-size: 30px;
	}

	body {
		font-size: 30px;
	}

	.SideNav {
		padding-left: 2%;
		padding-right: 2%;
		gap: 5vh;
	}

	.SideNav button {
		width: 9vw;
	}

	.NavItem .ToolTip {
		font-size: 35px;
		border-width: 4px;
		border-radius: 12px;
		padding: 15px 0;
		margin: 10px;
	}

	.sideBar {
		padding: 15px 20px 0 100px;
		font-size: 35px;
		max-width: max-content;
		min-width: min-content;
	}

	#socialsSideBar {
		font-size: 30px;
	}

	#githubSideBar button {
		font-size: 30px;
	}
}